<div class="container">
  <button type="button" class="btn btn-primary" (click) = "openModal()">Add message</button>
</div>
<div class="container" id="news_container" [innerHTML]="html_content">
</div>

<div class="modal"  id="newsModal" [ngStyle]="{'display': modalDisplayStyle}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-xl">
      <div class="modal-body">
        <div class="container">
          <div class="d-flex flex-row justify-content-end">
            <i class="fa-solid fa-xmark" (click)="closeModalWithoutAddingNews()"></i>
          </div>
          <textarea class="form-control" id="newsText" rows="3" [(ngModel)]="message"></textarea>
          <button type="button" class="btn btn-primary" (click) = "closeModal()">Add message</button>
        </div>
      </div>
    </div>
  </div>
</div>



